@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Routes
$imgR: '../img/';
$fontR: '../fonts/';

// Fonts
// @include font-face("breeb", "#{$fontR}bree/Bree-Bold", $file-formats: eot svg ttf woff2 woff);
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700&display=swap');
$mont: 'Montserrat', sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$gray-5: #959595;
$gray-6: #FAF8F7;
$gray-1: #2e2e2e;
$gray-4: #363636;
$gray-2: #191919;
$gray-3: #0e0e0e;
$col1: #dcba65;
$col2: #8f0348;
$col3: #f6b036;
$col4: #3fb44f;
$col5: #ea1d2c;
$col6: #dd9517;
$col7: #FDF2F7;
$white: #ffffff;
$black: #000000;
$facebook: #3b5998;
$twitter: #43bfe1;

$c1: $gray-1;
$c2: $gray-2;
$c3: $gray-3;
$c4: $gray-4;
$c5: $gray-5;
$c6: $gray-6;

// Gradients

@mixin displayFlex($disp, $direc, $justify, $items, $wrp) {
  @include display($disp); @include flex-direction($direc); @include justify-content($justify); @include align-items($items); @include flex-wrap($wrp);
}
.overlayClass {
  width: 100%; height: 100%; @include position(fixed, 0 null null 0); margin: 0; padding: 0;
}
.overlayClassAbs {
  width: 100%; height: 100%; @include position(absolute, 0 null null 0); margin: 0; padding: 0;
}
.absImg {
  @include position(absolute, 50% null null 50%); @include transform(translate(-50%, -50%));
}
.absNiddleUp {
  @include position(absolute, 50% null null 0); @include transform(translateY(-50%));
}
.absNiddleLeft {
  @include position(absolute, 0 null null 50%); @include transform(translateX(-50%));
}
.altoHeroGen {
  height: 500px;
}

@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
  .altoHeroGen {
    height: 650px;
  }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}
