/* ==|====================
   Layout/Header
   ======================= */

.g-header {
  width: 100%; height: auto; position: relative; padding: 5px 0; margin: 0; z-index: 4; background-color: $black;
  .topH {
    width: 100%; height: auto; padding: 5px 0; margin: 0; background-color: $col2; @include box-sizing(border-box);
  }
  .botH {
    width: 100%; height: auto; padding: 0 0; margin: 0; background-color: $col1; @include box-sizing(border-box);
  }
}
.brand {
  width: 100%; height: auto; padding: 0; margin: 0;
  a {
    img {
      display: block; width: 100%; max-width: 150px; height: auto; margin: 0 auto 0 0; padding: 0;
    }
    .site-title {
      font-size: 0; text-indent: -9999px; color: $white; opacity: 0; margin: 0; padding: 0;
    }
  }
}

@media only screen and (min-width: 360px) {
  
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}