/* ==|====================
   Layout/Main
   ======================= */

main {
  width: 100%; height: auto; position: relative; padding: 0; margin: 0; z-index: 1;
}
article {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
}
.descGen {
  width: 100%; height: auto; padding: 0; margin: 0 0 20px 0; position: relative;
  h1, h2, h3, h4, h5, h6 { text-align: center; margin-bottom: 5px; }
  p { text-align: center; margin: 0 0 0 0; }
}

#videoHome {
  @include position(absolute, 0 null null 0); width: 100%; min-width: 1366px; height: auto; z-index: -1;
}

// Sections
.HeroMain {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 0 0; margin: 0; overflow: hidden;
  .slick-slide{ @extend .altoHeroGen; width: 100%; background-size: cover !important; background-repeat: no-repeat; background-position: center; }
  .slick-slider{ @extend .altoHeroGen; }
  .btnSlide {
    color: $col1; font-size: rem(50px);
    &.bLeft {
      left: 0;
    }
    &.nRight {
      right: 0;
    }
  }
}
.contVideoHome {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 20px 0; margin: 0; overflow: hidden; @include displayFlex(flex, column, center, center, wrap);
  .descContVideo {
    h1, h2, h3, h4, h5, h6 {
      text-align: left; margin-bottom: 10px; color: $white; font-size: rem(28px); font-weight: 300;
      b, strong { font-weight: 400; }
    }
    p {
      text-align: left; margin: 0 0 8px 0; color: $white; font-weight: 300; font-size: rem(14px);
      b, strong { font-weight: 700; }
    }
    .btnPart {
      width: 100%; height: auto; padding: 0; margin: 0;
      a {
        display: block; width: 180px; margin: 0 0 0 0; font-size: rem(13px); box-shadow: 0 0 10px rgba(0,0,0,0.25);
      }
    }
  }
}
.categoryCont {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 20px 0 10px 0; margin: 0; overflow: hidden;
  .titleCategory {
    width: 100%; height: auto; padding: 0; margin: 0 0 30px 0; position: relative;
    h1, h2, h3, h4, h5, h6 {
      text-align: center; margin-bottom: 0; color: $col1; font-size: rem(30px); font-weight: 300;
      b, strong { font-weight: 400; }
    }
    &:before, &:after {
      content: ''; width: calc(50% - 100px); height: 2px; background-color: $col1; @include position(absolute, 50% null null null); @include transform(transformY(-50%));
    }
    &:before { left: -100px; }
    &:after { right: -100px; }
  }
}

.ganadoresCont {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 50px 0; margin: 0; overflow: hidden; background-color: $white; background-size: cover !important; background-repeat: no-repeat; background-position: center; background-image: url('#{$imgR}bgs/textura_premios.png');
}

.imDatesContSlide {
  width: 100%; height: 530px; @include position(relative, null null null null); padding: 50px 0; margin: 0; overflow: hidden; background-color: $white; background-size: cover !important; background-repeat: no-repeat; background-position: center; background-image: url('#{$imgR}bgs/textura_premios.png'); @include box-sizing(border-box);
  .title-dates {
    font-size: rem(36px); font-weight: 300; color: $black; margin-bottom: 30px;
  }
  .posRel {
    position: relative; z-index: 2;
  }
  .btnSlide {
    color: $black; font-size: rem(60px); @include transition(all 300ms ease);
    &.bLeft {
      left: -30px;
    }
    &.nRight {
      right: -30px;
    }
    &:hover {
      color: $col1;
    }
  }
  .slideDatesHome  {
    .boxDates {
      opacity: 0.75; @include transition(all 300ms ease);
    }
    .slick-slide {
      height: 350px; @include displayFlex(flex, column, center, center, nowrap);
      .btnIns {
        a {
          cursor: none; pointer-events: none;
        }
      }
    }
    .slick-slider{ height: 350px; }
    .slick-center {
      z-index: 4; position: relative;
      .boxDates {
        @include transform(scale(1.10)); opacity: 1;
        .btnIns {
          a {
            cursor: pointer; pointer-events: visible;
          }
        }
      }
    }
  }
  &:before {
    content: ''; width: 100%; height: 100px; @include position(absolute, null null 0 0); background-color: $col1; z-index: 1;
  }
}

.juradoCont {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 0 0; margin: 0; overflow: hidden; background-color: $black;
  @include displayFlex(flex, column, flex-start, flex-start, nowrap);
}

.numeraliaCont {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 50px 0; margin: 0; overflow: hidden; @include displayFlex(flex, column, center, center, wrap);
  h2 {
    text-align: center; margin-bottom: 30px; color: $col1; font-size: rem(28px); font-weight: 700; text-transform: uppercase; text-shadow: 0 0 3px rgba(0,0,0,0.25);
    b, strong { font-weight: 400; }
  }
  .numeraliaFx {
    width: 100%; height: auto; @include position(relative, null null null null); padding: 20px 0; margin: 0; overflow: hidden; @include displayFlex(flex, row, center, space-between, wrap); z-index: 2;
  }
  &:before, &:after {
    content: ''; width: 100%; height: 50px; @include position(absolute, null null null 0); z-index: 1;
  }
  &:before {
    top: 0; @include background(linear-gradient(rgba(0,0,0,0.90), rgba(0,0,0,0.0)) left repeat);
  }
  &:after {
    bottom: 0; @include background(linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.90)) left repeat);
  }
}
.dividerBlock {
  width: 100%; height: 60px; background-color: $col1; margin: 0; padding: 0; position: relative;
}

// Overlay Main 
.overMain {
  width: 100%; height: 100%; @include position(fixed, 0 null null 0); background-color: rgba(0,0,0,0.90); padding: 0; margin: 0; @include display(flex); @include flex-direction(column); @include align-items(center); @include justify-content(center); overflow: hidden; opacity: 0; visibility: hidden; z-index: 50;
}

@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 480px) {
  .hero-sec {
    .imgHero {
      min-width: 1000px; @include transform(translate(-60%, -50%));
    }
  }

}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
  .hero-sec {
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(24px);
      }
    }
    .imgHero {
      min-width: 1100px; @include transform(translate(-50%, -50%));
    }
  }
  .numeraliaCont {
    h2 {
      font-size: rem(36px);
    }
  }

}

@media only screen and (min-width: 992px) {
  .HeroMain {
    .btnSlide {
      color: $col1; font-size: rem(60px); @include transition(all 300ms ease); opacity: 0;
      &.bLeft {
        left: 0;
      }
      &.nRight {
        right: 0;
      }
    }
    &:hover {
      .btnSlide {
        opacity: 1;
        &.bLeft {
          left: 30px;
        }
        &.nRight {
          right: 30px;
        }
      }
    }
  }
  .contVideoHome {
    height: 400px; padding: 0 0;
    .descContVideo {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(36px);
      }
      p { font-size: rem(16px); }
    }
  }
  #videoHome {
    min-width: 1280px;
  }
  .numeraliaCont {
    height: auto; padding: 30px 0;
  }
  .numeraliaCont {
    h2 {
      font-size: rem(40px);
    }
  }
  .juradoCont {
    @include displayFlex(flex, row, flex-start, flex-start, nowrap);
  }

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {
  .hero-sec {
    .contHero {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(34px);
      }
    }
    .imgHero {
      min-width: 1400px;
    }
  }
  .numeraliaCont {
    height: 500px; padding: 0 0;
  }
  
}