{
  "name": "Amapro Festival",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/scripts/layoutScripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "css/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/style.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js",
      "js/scripts",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "css/style.scss",
      "imports": [
        "vendor/bourbon/app/assets/stylesheets/_bourbon.scss",
        "css/_site-settings.scss",
        "css/_base.scss",
        "css/layout/_header.scss",
        "css/layout/_nav.scss",
        "css/layout/_main.scss",
        "css/layout/_footer.scss",
        "css/modules/_box.scss",
        "css/modules/_inputs.scss",
        "css/modules/buttons.scss",
        "css/modules/slick.scss",
        "css/modules/slick-theme.scss",
        "css/vendor/tilt.scss",
        "vendor/font-awesome/scss/font-awesome.scss",
        "vendor/bourbon/app/assets/stylesheets/settings/_prefixer.scss",
        "vendor/bourbon/app/assets/stylesheets/settings/_px-to-em.scss",
        "vendor/bourbon/app/assets/stylesheets/settings/_asset-pipeline.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_assign-inputs.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_contains.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_contains-falsy.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_is-length.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_is-light.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_is-number.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_is-size.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_px-to-em.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_px-to-rem.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_shade.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_strip-units.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_tint.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_transition-property-name.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_unpack.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_modular-scale.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_convert-units.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_directional-values.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_font-source-declaration.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_gradient-positions-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_linear-angle-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_linear-gradient-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_linear-positions-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_linear-side-corner-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_radial-arg-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_radial-positions-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_radial-gradient-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_render-gradients.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_shape-size-stripper.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_str-to-num.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_animation.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_appearance.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_backface-visibility.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_background.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_background-image.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_border-image.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_calc.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_columns.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_filter.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_flex-box.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_font-face.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_font-feature-settings.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_hidpi-media-query.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_hyphens.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_image-rendering.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_keyframes.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_linear-gradient.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_perspective.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_placeholder.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_radial-gradient.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_selection.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_text-decoration.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_transform.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_transition.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_user-select.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_border-color.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_border-radius.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_border-style.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_border-width.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_buttons.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_clearfix.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_ellipsis.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_font-stacks.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_hide-text.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_margin.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_padding.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_position.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_prefixer.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_retina-image.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_size.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_text-inputs.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_timing-functions.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_triangle.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_word-wrap.scss",
        "vendor/bourbon/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss",
        "vendor/font-awesome/scss/_variables.scss",
        "vendor/font-awesome/scss/_mixins.scss",
        "vendor/font-awesome/scss/_path.scss",
        "vendor/font-awesome/scss/_core.scss",
        "vendor/font-awesome/scss/_larger.scss",
        "vendor/font-awesome/scss/_fixed-width.scss",
        "vendor/font-awesome/scss/_list.scss",
        "vendor/font-awesome/scss/_bordered-pulled.scss",
        "vendor/font-awesome/scss/_animated.scss",
        "vendor/font-awesome/scss/_rotated-flipped.scss",
        "vendor/font-awesome/scss/_stacked.scss",
        "vendor/font-awesome/scss/_icons.scss",
        "vendor/font-awesome/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/scss/bootstrap-grid.scss",
      "imports": [
        "vendor/bootstrap/scss/_functions.scss",
        "vendor/bootstrap/scss/_variables.scss",
        "vendor/bootstrap/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/scss/mixins/_grid.scss",
        "vendor/bootstrap/scss/_grid.scss",
        "vendor/bootstrap/scss/utilities/_display.scss",
        "vendor/bootstrap/scss/utilities/_flex.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/scss/bootstrap-reboot.scss",
      "imports": [
        "vendor/bootstrap/scss/_functions.scss",
        "vendor/bootstrap/scss/_variables.scss",
        "vendor/bootstrap/scss/_mixins.scss",
        "vendor/bootstrap/scss/_reboot.scss",
        "vendor/bootstrap/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/scss/mixins/_hover.scss",
        "vendor/bootstrap/scss/mixins/_image.scss",
        "vendor/bootstrap/scss/mixins/_badge.scss",
        "vendor/bootstrap/scss/mixins/_resize.scss",
        "vendor/bootstrap/scss/mixins/_screen-reader.scss",
        "vendor/bootstrap/scss/mixins/_size.scss",
        "vendor/bootstrap/scss/mixins/_reset-text.scss",
        "vendor/bootstrap/scss/mixins/_text-emphasis.scss",
        "vendor/bootstrap/scss/mixins/_text-hide.scss",
        "vendor/bootstrap/scss/mixins/_text-truncate.scss",
        "vendor/bootstrap/scss/mixins/_visibility.scss",
        "vendor/bootstrap/scss/mixins/_alert.scss",
        "vendor/bootstrap/scss/mixins/_buttons.scss",
        "vendor/bootstrap/scss/mixins/_caret.scss",
        "vendor/bootstrap/scss/mixins/_pagination.scss",
        "vendor/bootstrap/scss/mixins/_lists.scss",
        "vendor/bootstrap/scss/mixins/_list-group.scss",
        "vendor/bootstrap/scss/mixins/_nav-divider.scss",
        "vendor/bootstrap/scss/mixins/_forms.scss",
        "vendor/bootstrap/scss/mixins/_table-row.scss",
        "vendor/bootstrap/scss/mixins/_background-variant.scss",
        "vendor/bootstrap/scss/mixins/_border-radius.scss",
        "vendor/bootstrap/scss/mixins/_box-shadow.scss",
        "vendor/bootstrap/scss/mixins/_gradients.scss",
        "vendor/bootstrap/scss/mixins/_transition.scss",
        "vendor/bootstrap/scss/mixins/_clearfix.scss",
        "vendor/bootstrap/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/scss/mixins/_grid.scss",
        "vendor/bootstrap/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/scss/bootstrap.scss",
      "imports": [
        "vendor/bootstrap/scss/_functions.scss",
        "vendor/bootstrap/scss/_variables.scss",
        "vendor/bootstrap/scss/_mixins.scss",
        "vendor/bootstrap/scss/_root.scss",
        "vendor/bootstrap/scss/_reboot.scss",
        "vendor/bootstrap/scss/_type.scss",
        "vendor/bootstrap/scss/_images.scss",
        "vendor/bootstrap/scss/_code.scss",
        "vendor/bootstrap/scss/_grid.scss",
        "vendor/bootstrap/scss/_tables.scss",
        "vendor/bootstrap/scss/_forms.scss",
        "vendor/bootstrap/scss/_buttons.scss",
        "vendor/bootstrap/scss/_transitions.scss",
        "vendor/bootstrap/scss/_dropdown.scss",
        "vendor/bootstrap/scss/_button-group.scss",
        "vendor/bootstrap/scss/_input-group.scss",
        "vendor/bootstrap/scss/_custom-forms.scss",
        "vendor/bootstrap/scss/_nav.scss",
        "vendor/bootstrap/scss/_navbar.scss",
        "vendor/bootstrap/scss/_card.scss",
        "vendor/bootstrap/scss/_breadcrumb.scss",
        "vendor/bootstrap/scss/_pagination.scss",
        "vendor/bootstrap/scss/_badge.scss",
        "vendor/bootstrap/scss/_jumbotron.scss",
        "vendor/bootstrap/scss/_alert.scss",
        "vendor/bootstrap/scss/_progress.scss",
        "vendor/bootstrap/scss/_media.scss",
        "vendor/bootstrap/scss/_list-group.scss",
        "vendor/bootstrap/scss/_close.scss",
        "vendor/bootstrap/scss/_modal.scss",
        "vendor/bootstrap/scss/_tooltip.scss",
        "vendor/bootstrap/scss/_popover.scss",
        "vendor/bootstrap/scss/_carousel.scss",
        "vendor/bootstrap/scss/_utilities.scss",
        "vendor/bootstrap/scss/_print.scss",
        "vendor/bootstrap/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/scss/mixins/_hover.scss",
        "vendor/bootstrap/scss/mixins/_image.scss",
        "vendor/bootstrap/scss/mixins/_badge.scss",
        "vendor/bootstrap/scss/mixins/_resize.scss",
        "vendor/bootstrap/scss/mixins/_screen-reader.scss",
        "vendor/bootstrap/scss/mixins/_size.scss",
        "vendor/bootstrap/scss/mixins/_reset-text.scss",
        "vendor/bootstrap/scss/mixins/_text-emphasis.scss",
        "vendor/bootstrap/scss/mixins/_text-hide.scss",
        "vendor/bootstrap/scss/mixins/_text-truncate.scss",
        "vendor/bootstrap/scss/mixins/_visibility.scss",
        "vendor/bootstrap/scss/mixins/_alert.scss",
        "vendor/bootstrap/scss/mixins/_buttons.scss",
        "vendor/bootstrap/scss/mixins/_caret.scss",
        "vendor/bootstrap/scss/mixins/_pagination.scss",
        "vendor/bootstrap/scss/mixins/_lists.scss",
        "vendor/bootstrap/scss/mixins/_list-group.scss",
        "vendor/bootstrap/scss/mixins/_nav-divider.scss",
        "vendor/bootstrap/scss/mixins/_forms.scss",
        "vendor/bootstrap/scss/mixins/_table-row.scss",
        "vendor/bootstrap/scss/mixins/_background-variant.scss",
        "vendor/bootstrap/scss/mixins/_border-radius.scss",
        "vendor/bootstrap/scss/mixins/_box-shadow.scss",
        "vendor/bootstrap/scss/mixins/_gradients.scss",
        "vendor/bootstrap/scss/mixins/_transition.scss",
        "vendor/bootstrap/scss/mixins/_clearfix.scss",
        "vendor/bootstrap/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/scss/mixins/_grid.scss",
        "vendor/bootstrap/scss/mixins/_float.scss",
        "vendor/bootstrap/scss/utilities/_align.scss",
        "vendor/bootstrap/scss/utilities/_background.scss",
        "vendor/bootstrap/scss/utilities/_borders.scss",
        "vendor/bootstrap/scss/utilities/_clearfix.scss",
        "vendor/bootstrap/scss/utilities/_display.scss",
        "vendor/bootstrap/scss/utilities/_embed.scss",
        "vendor/bootstrap/scss/utilities/_flex.scss",
        "vendor/bootstrap/scss/utilities/_float.scss",
        "vendor/bootstrap/scss/utilities/_position.scss",
        "vendor/bootstrap/scss/utilities/_screenreaders.scss",
        "vendor/bootstrap/scss/utilities/_shadows.scss",
        "vendor/bootstrap/scss/utilities/_sizing.scss",
        "vendor/bootstrap/scss/utilities/_spacing.scss",
        "vendor/bootstrap/scss/utilities/_text.scss",
        "vendor/bootstrap/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/scss/_mixins.scss",
      "imports": [
        "vendor/bootstrap/scss/mixins/_breakpoints.scss",
        "vendor/bootstrap/scss/mixins/_hover.scss",
        "vendor/bootstrap/scss/mixins/_image.scss",
        "vendor/bootstrap/scss/mixins/_badge.scss",
        "vendor/bootstrap/scss/mixins/_resize.scss",
        "vendor/bootstrap/scss/mixins/_screen-reader.scss",
        "vendor/bootstrap/scss/mixins/_size.scss",
        "vendor/bootstrap/scss/mixins/_reset-text.scss",
        "vendor/bootstrap/scss/mixins/_text-emphasis.scss",
        "vendor/bootstrap/scss/mixins/_text-hide.scss",
        "vendor/bootstrap/scss/mixins/_text-truncate.scss",
        "vendor/bootstrap/scss/mixins/_visibility.scss",
        "vendor/bootstrap/scss/mixins/_alert.scss",
        "vendor/bootstrap/scss/mixins/_buttons.scss",
        "vendor/bootstrap/scss/mixins/_caret.scss",
        "vendor/bootstrap/scss/mixins/_pagination.scss",
        "vendor/bootstrap/scss/mixins/_lists.scss",
        "vendor/bootstrap/scss/mixins/_list-group.scss",
        "vendor/bootstrap/scss/mixins/_nav-divider.scss",
        "vendor/bootstrap/scss/mixins/_forms.scss",
        "vendor/bootstrap/scss/mixins/_table-row.scss",
        "vendor/bootstrap/scss/mixins/_background-variant.scss",
        "vendor/bootstrap/scss/mixins/_border-radius.scss",
        "vendor/bootstrap/scss/mixins/_box-shadow.scss",
        "vendor/bootstrap/scss/mixins/_gradients.scss",
        "vendor/bootstrap/scss/mixins/_transition.scss",
        "vendor/bootstrap/scss/mixins/_clearfix.scss",
        "vendor/bootstrap/scss/mixins/_grid-framework.scss",
        "vendor/bootstrap/scss/mixins/_grid.scss",
        "vendor/bootstrap/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/bootstrap/scss/_utilities.scss",
      "imports": [
        "vendor/bootstrap/scss/utilities/_align.scss",
        "vendor/bootstrap/scss/utilities/_background.scss",
        "vendor/bootstrap/scss/utilities/_borders.scss",
        "vendor/bootstrap/scss/utilities/_clearfix.scss",
        "vendor/bootstrap/scss/utilities/_display.scss",
        "vendor/bootstrap/scss/utilities/_embed.scss",
        "vendor/bootstrap/scss/utilities/_flex.scss",
        "vendor/bootstrap/scss/utilities/_float.scss",
        "vendor/bootstrap/scss/utilities/_position.scss",
        "vendor/bootstrap/scss/utilities/_screenreaders.scss",
        "vendor/bootstrap/scss/utilities/_shadows.scss",
        "vendor/bootstrap/scss/utilities/_sizing.scss",
        "vendor/bootstrap/scss/utilities/_spacing.scss",
        "vendor/bootstrap/scss/utilities/_text.scss",
        "vendor/bootstrap/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/font-awesome/less/font-awesome.less",
      "imports": [
        "vendor/font-awesome/less/variables.less",
        "vendor/font-awesome/less/mixins.less",
        "vendor/font-awesome/less/path.less",
        "vendor/font-awesome/less/core.less",
        "vendor/font-awesome/less/larger.less",
        "vendor/font-awesome/less/fixed-width.less",
        "vendor/font-awesome/less/list.less",
        "vendor/font-awesome/less/bordered-pulled.less",
        "vendor/font-awesome/less/animated.less",
        "vendor/font-awesome/less/rotated-flipped.less",
        "vendor/font-awesome/less/stacked.less",
        "vendor/font-awesome/less/icons.less",
        "vendor/font-awesome/less/screen-reader.less"
      ]
    },
    {
      "path": "vendor/font-awesome/scss/font-awesome.scss",
      "imports": [
        "vendor/font-awesome/scss/_variables.scss",
        "vendor/font-awesome/scss/_mixins.scss",
        "vendor/font-awesome/scss/_path.scss",
        "vendor/font-awesome/scss/_core.scss",
        "vendor/font-awesome/scss/_larger.scss",
        "vendor/font-awesome/scss/_fixed-width.scss",
        "vendor/font-awesome/scss/_list.scss",
        "vendor/font-awesome/scss/_bordered-pulled.scss",
        "vendor/font-awesome/scss/_animated.scss",
        "vendor/font-awesome/scss/_rotated-flipped.scss",
        "vendor/font-awesome/scss/_stacked.scss",
        "vendor/font-awesome/scss/_icons.scss",
        "vendor/font-awesome/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "vendor/bourbon/app/assets/stylesheets/_bourbon.scss",
      "imports": [
        "vendor/bourbon/app/assets/stylesheets/settings/_prefixer.scss",
        "vendor/bourbon/app/assets/stylesheets/settings/_px-to-em.scss",
        "vendor/bourbon/app/assets/stylesheets/settings/_asset-pipeline.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_assign-inputs.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_contains.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_contains-falsy.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_is-length.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_is-light.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_is-number.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_is-size.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_px-to-em.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_px-to-rem.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_shade.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_strip-units.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_tint.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_transition-property-name.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_unpack.scss",
        "vendor/bourbon/app/assets/stylesheets/functions/_modular-scale.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_convert-units.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_directional-values.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_font-source-declaration.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_gradient-positions-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_linear-angle-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_linear-gradient-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_linear-positions-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_linear-side-corner-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_radial-arg-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_radial-positions-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_radial-gradient-parser.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_render-gradients.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_shape-size-stripper.scss",
        "vendor/bourbon/app/assets/stylesheets/helpers/_str-to-num.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_animation.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_appearance.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_backface-visibility.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_background.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_background-image.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_border-image.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_calc.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_columns.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_filter.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_flex-box.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_font-face.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_font-feature-settings.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_hidpi-media-query.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_hyphens.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_image-rendering.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_keyframes.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_linear-gradient.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_perspective.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_placeholder.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_radial-gradient.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_selection.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_text-decoration.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_transform.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_transition.scss",
        "vendor/bourbon/app/assets/stylesheets/css3/_user-select.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_border-color.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_border-radius.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_border-style.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_border-width.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_buttons.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_clearfix.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_ellipsis.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_font-stacks.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_hide-text.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_margin.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_padding.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_position.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_prefixer.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_retina-image.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_size.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_text-inputs.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_timing-functions.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_triangle.scss",
        "vendor/bourbon/app/assets/stylesheets/addons/_word-wrap.scss",
        "vendor/bourbon/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"outputSuffix\":\".min\"}",
  "file-type-javascript": "{\"compilers\":[\"babel\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\",\"compiler-babel\":{\"enabled\":true}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}